<ng-container [ngSwitch]="!!responsive && hasWidthHeight()">
    <div *ngSwitchCase="true"
        class="embed-responsive"
        [platformAspectRatioPadding]="image">

        <ng-container *ngTemplateOutlet="pictureTemplate">
        </ng-container>
    </div>
    <ng-container *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="pictureTemplate">
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #pictureTemplate>
    <picture>
        <source *ngIf="hasWebp()"
            type="image/webp"
            [platformImgSrc]="image"
            platformImgType="pictureSource"
            [platformImgWebp]="true">
        <source [platformImgSrc]="image"
            platformImgType="pictureSource">
        <img [platformImgSrc]="image"
            platformImgType="pictureImg"
            [class]="getImgClass()"
            [attr.alt]="image.AltText">
    </picture>
</ng-template>