<div *ngFor="let alert of alerts" [ngClass]="getClass(alert)" role="alert">
    <button *ngIf="canClose(alert)" type="button" (click)="close(alert)" class="close" aria-label="'Close' | translate">
        <span aria-hidden="true">&times;</span>
    </button>
    <i *ngIf="!!getIconClass(alert)" class="mr-alert" [ngClass]="getIconClass(alert)"></i><span
        class="u-showNewlines">{{ alert.message }}</span>
</div>