/** @define utilities */

/**
 * Similar to Bootstrap 4's `.sticky-top`.
 */
.sticky-bottom {
    @supports (position: sticky) {
        bottom: 0;
        position: sticky;
        z-index: $zindex-sticky;
    }
}
